
<form class="form" action="/locations" method="post">
  <div class="form-group">
    <label for="locationName">name</label>
    <input type="text" class="form-control" id="locationName" placeholder="Enter a location name" name="name">
  </div>
  <button type="submit" class="btn btn-default btn-success">Create</button>
</form>
